<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Omnia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/">
            <img src="{{ url_for('static', filename='omnialogo.png') }}" alt="Omnia Logo">
            </a>
            <p class="slogan">Anything. Anywhere. Anytime.</p>
        </div>
        <div class="content">
            <h2>About Omnia</h2>
            <p>Omnia is a clothing gateway company that connects you to a variety of fashion brands. We bring you the latest trends and styles from top brands, making it easy to discover and shop your favorite fashion items.</p>
        </div>
    </div>
</body>
</html>
